/node_modules
.env
/.env.local 
/.env.development.local
/.env.test.local
/.env.production.local
/.next
/.next/cache
/.next/BUILD_ID
/.next/server
/.next/static
/.next/static/chunks
/.next/static/css
/.next/static/media
/.next/static/development